
/* ========================
typography.scss
======================== */


// families
$plexSans: 'IBM Plex Sans', sans-serif;
$material: 'Material Icons';

// styles
$primaryFont: $plexSans;
$secondaryFont: null;
$bodyFont: null;
$titleFont: $plexSans;
// TODO convert to rem
$body: 16px;
$small: $body * 0.9;
$xSmall: $small - 2;
$title: $body * 1.2;


// templates
@mixin smallHeading {
	font-family: $titleFont;
  font-weight: 700;
  font-size: $xSmall;
  color: $flat-gray-4;
  text-transform: uppercase;
  margin: 0 0 $margin / 3;
}


@mixin normalizeText() {
  margin: 0;
  font-weight: normal;
  text-transform: capitalize;
}
